#addevent_backend_popup .multiselect {
	text-align: left;
}
#addevent_backend_popup .multiselect-container li.active .checkbox{
	background-color:#3A83C2;
}
#addevent_backend_popup li .active{
	color: red;
}
#addevent_backend_popup li {
	margin-bottom: 0px;
}
#addevent_backend_popup #namediv input{
	width: 70%;
}
#addevent_backend_popup .ui-dialog .ui-dialog-titlebar-close span {
		margin: -8px!important;
}
/**/
#addevent_backend_popup #frmbooking select, button, input, textarea {
	border:1px solid #E2E2E2;
	/*margin:5px;*/
}
#addevent_backend_popup #frmbooking label {
	margin:3px;
	width:135px;
}
#addevent_backend_popup span{font-size:12px;}
#addevent_backend_popup #frmbooking table{
	/*width: 50%;* /
	font-size:14px;*/
	margin:10px;
	width:350px;
}
#addevent_backend_popup input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;*/
	/*font-size: 20px;*/
	font-size:14px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
#addevent_backend_popup select.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;*/
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
#addevent_backend_popup input.rounded:focus {
	border-color: #4CB7FF;
}
#addevent_backend_popup .ui-dialog {
	z-index:3000!important;
}
/*-------theme css override------*/
#addevent_backend_popup select, input[type="text"]{
	height: 30px;
	font-size:12px;
	/*width:90%;*/
	width:230px;
}	
#addevent_backend_popup #frmbooking{
	font-size:13px;
}
#addevent_backend_popup #frmbooking table td.bookinglavel{
	width:30%;
}
#addevent_backend_popup #frmbooking table td.bookinginput{
	width:70%;
}